@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:wght@100;200;300;400;500;700;900&family=Rubik:wght@400;500;600;700;900&display=swap');

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --orange: #ff6b6b;
  --marfil: #f7fff7;
  --dark: #292f36;
  --aqua: #4ecdc4;
  --lightYellow: #ffe66d;
  --lightGray: #f5f5f5;
  --red: #ff0000;
  --purple: #9747ff;

  /* Fonts */
  --font-title: 'Rubik', sans-serif;;
  --font-text-primary: 'Joan', serif;
  --font-text-secondary: 'Poppins', sans-serif;
}

.primary-button {
    width: 200px;
    padding: 5px;
    border-radius: 0.25rem;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: var(--marfil);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .3s ease;
}

.primary-button:hover {
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.secondary-button {
    width: 100px;
    padding: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid var(--aqua);
    background-color: var(--aqua);
    color: var(--marfil);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1rem;
    transition: all .3s ease;
}

.secondary-button:hover {
    background-color: transparent;
    color: var(--aqua);
    border: 2px solid var(--aqua);
}

.google-button {
    width: 300px;
    padding: 0.4rem 1rem;
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: transparent;
    color: var(--dark);
    font-family: var(--font-text-secondary);
    font-weight: 400;
    font-size: 20px;
    transition: all .3s ease;
}

.google-button:hover {
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
    color: var(--orange);
}

.loading-button {
    width: 200px;
    padding: 5px;
    border-radius: 0.25rem;
    border: 1px solid var(--lightYellow);
    background-color: var(--lightYellow);
    color: var(--black);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .3s ease;
}

/* Responsive Design */ 

@media (max-width: 576px) {
    .google-button {
        width: 220px;
        font-size: 14px;
    }
}