@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:wght@100;200;300;400;500;700;900&family=Rubik:wght@400;500;600;700;900&display=swap');

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --orange: #ff6b6b;
  --marfil: #f7fff7;
  --dark: #292f36;
  --aqua: #4ecdc4;
  --lightYellow: #ffe66d;
  --lightGray: #f5f5f5;
  --red: #ff0000;
  --purple: #9747ff;

  /* Fonts */
  --font-title: 'Rubik', sans-serif;;
  --font-text-primary: 'Joan', serif;
  --font-text-secondary: 'Poppins', sans-serif;
}

.page-project {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem 1rem;
    transition: all .5s ease;
}

.page-project-active {
    position: relative;
    top: 0;
    left: 300px;
    max-width: calc(100vw - 300px);
    height: 100vh;
    padding: 0.5rem 1rem;
    transition: all .5s ease;
}

.date, .hi {
  font-family: var(--font-text-secondary);
  font-weight: 500;
  font-size: 1rem;
  color: var(--dark);
}